<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework" level="warn" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com.jpmorgan.stocks" level="info" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.hibernate.SQL" level="warn" />
	<logger name="org.hibernate.type" level="warn" />
	<logger name="ch.qos.logback" level="OFF" additivity="false" />
	
	<root level="error">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>